<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			<rule name="image" stopProcessing="true">
                    <match url="^image" ignoreCase="false" />
                    <action type="None" />
                </rule>
			<rule name="style" stopProcessing="true">
                    <match url="^style" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="js" stopProcessing="true">
                    <match url="^js/" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([^/]+)/?" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
